header {
  padding: 20px 0;
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
header nav {
  display: flex;
  justify-content: flex-end;
}

.about {
padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 50px;
  color: black;
}

.richulsky {
padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

.schiff {
padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 50px;
  color: black;
}

.levi {
padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 50px;
  color: black;
}

.cohen {
padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 50px;
  color: black;
}
