header {
  padding: 20px 0;
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
header nav {
  display: inline;
  justify-content: flex-end;
}

.richulsky
.cohen
.levi
.schiff
.about {
  width: 100%;
  padding: 15px;
  margin: 5px;
  color: black;
  border: 2px solid #27408b;
  display: flex;
}
